.product-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Andika', sans-serif;
}

.product-container .product-details{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.product-container h1{
    padding-bottom: 1rem;
}

.product-container .product-image{
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-container .product-image img{
    margin: 1rem;
}

.product-container .product-desc{
    padding: 2rem 0;
}

@media screen and (max-width: 600px){
    .product-container img{
        width: 90%;
    }
}