@import url('https://fonts.googleapis.com/css2?family=Arsenal:wght@400;700&display=swap');

.motto-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.motto-container .inner-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.motto-container h1{
    font-family: 'Arsenal', sans-serif;
    font-size: 2rem;
}

.motto-container p{
    font-family: 'Andika', sans-serif;
    font-size: 1.3rem;
}

.motto-container .card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 1024px){
    .motto-container .card-container{
        display: flex;
        flex-direction: column;
    }
}